@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card: #ffffff;
  --ring: #f7931a;
  --input: #f4f5f7;
  --muted: #f9fafb;
  --accent: #d6e4f0;
  --border: #dcdfe2;
  --radius: 0.75rem;
  --popover: #ffffff;
  --primary: #f7931a;
  --font-mono: 'JetBrains Mono', monospace;
  --font-sans: 'Inter', sans-serif;
  --secondary: #f3f4f6;
  --background: #e8ebed;
  --font-serif: 'Source Serif 4', serif;
  --foreground: #333333;
  --destructive: #ef4444;
  --shadow-blur: 3px;
  --shadow-color: hsl(0 0% 0%);
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --card-foreground: #333333;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --muted-foreground: #6b7280;
  --accent-foreground: #1e3a8a;
  --popover-foreground: #333333;
  --primary-foreground: #ffffff;
  --secondary-foreground: #4b5563;
  --destructive-foreground: #ffffff;
}

.dark {
  --card: #2a3040;
  --ring: #f7931a;
  --input: #3d4354;
  --muted: #2a303e;
  --accent: #2a3656;
  --border: #3d4354;
  --popover: #262b38;
  --primary: #f7931a;
  --secondary: #2a303e;
  --background: #1c2433;
  --foreground: #e5e5e5;
  --destructive: #ef4444;
  --card-foreground: #e5e5e5;
  --muted-foreground: #a3a3a3;
  --accent-foreground: #bfdbfe;
  --popover-foreground: #e5e5e5;
  --primary-foreground: #ffffff;
  --secondary-foreground: #e5e5e5;
  --destructive-foreground: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-mono {
    font-family: var(--font-mono);
  }
  .font-serif {
    font-family: var(--font-serif);
  }
}
